body {
     background-attachment: fixed;
     background-size: cover;
     text-align: center;
     background-color: #00A5FF;
}
 h1{
     font-style:normal;
     color: Black;
}
 h2 {
     text-align: center;
}
 h3{
     text-align:left;
}
 h4{
     text-align:left;
}
 p{
     text-align:right;
     font-variant: normal;
     font-size: 1.5em;
     font-family: Arial, sans-serif;
}
 ul{
     font-family: arial,sans-serif;
     text-align: left;
     list-style-type: square;
     list-style-position:inherit;
}
 #nav{
     position:absolute;
     display:inline-block;
     text-align: right;
     padding:5px;
}
